* {
  box-sizing: border-box;
}

body {
  position: relative;
  background: whitesmoke;
  margin: 0 auto;
  overflow: auto;
  padding-bottom: 194px;
}

#header {
  height: 100px;
  background: silver;
  margin: 0 auto;
}

#header .logo {
  float: left;
  padding: 35px;
  width: 20%;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
}

#header .logo img {
  width: 150px;
}

#header .searchBox {
  float: left;
  padding: 35px;
  width: 60%;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
}

#header .searchBox input {
  height: 30px;
  width: 80%;
  border-radius: 5px;
  text-align: center;
}

.search {
  position: relative;
  display: flex;
  float: left;
  padding: 35px;
  width: 60%;
  height: 100px;
  text-align: center;
  box-sizing: border-box;
}

.searchTerm {
  width: 100%;
  border: 3px solid black;
  border-right: none;
  padding: 5px;
  height: 35px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: rgb(0, 0, 0);
}

.searchButton {
  width: 40px;
  height: 35px;
  border: 1px solid black;
  background: black;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

#header .welcomeBox {
  float: left;
  width: 20%;
  padding: 30px;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  /* margin-bottom: 10px; */
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#flex-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: silver;
  margin: 0 auto;
  flex-wrap: wrap;
}

.flex-item-left-panel {
  font-size: 15px;
  justify-content: center;
  width: 15%;
  height: 100%;
  background: whitesmoke;
  padding: 15px;
  margin: 10px;
  border: 1px solid black;
}

.flex-item-middle-panel {
  /* align-items: center;
  justify-content: center; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  height: 100%;
  background: whitesmoke;
  margin: 10px;
  border: 1px solid black;
}

.flex-item-right-panel {
  justify-content: center;
  width: 10%;
  height: 100%;
  background: whitesmoke;
  padding: 15px;
  margin: 10px;
  border: 1px solid black;
  text-align: center;
  font-size: 20px;
}

/* Add a pointer when hovering over the thumbnail images */
div.gallery {
  /* align-items: center;
  justify-content: center; */
  margin: 10px;
  border: 1px solid rgb(0, 0, 0);
  float: left;
  max-width: 222px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  /* align-items: center;
  justify-content: center; */
  width: 180px;
  height: 180px;
  margin: 20px;
}

div.desc {
  padding: 15px;
  width: auto;
  height: 100px;
  text-align: center;
}

.cursor {
  cursor: pointer;
}
.buttonstyle {
  background: rgb(187, 187, 187);
  background-position: 0px -401px;
  border: solid 1px #000000;
  color: #ffffff;
  height: 26px;
  margin-top: -1px;
  padding-bottom: 10px;
}
.buttonstyle:hover {
  background: white;
  background-position: 0px -501px;
  color: #000000;
}
.footer {
  background-color: #333;
  color: #ffffff;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 40px;
  /* Footer height */
}
