html {
  height: 100%;
  width: 100%;
}
body {
  background-image: url("./assets/background2.gif");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
.body {
  position: fixed;
  /* overflow-y: scroll; */
  width: 100%;
  top: -1px;
  left: -1px;

  /* background-image: url("./assets/background3.gif"); */
  background-color: #a18d6c;
  /* background-size: cover; */
  background-repeat: no-repeat;
  height: 100%;
}

.header {
  position: absolute;
  margin-left: 720px;
  margin-top: 90px;
  /* top: calc(50% - 35px);
  left: calc(50% - 255px); */
}

.header div {
  float: left;
  color: black;
  font-family: "Exo", sans-serif;
  font-size: 40px;
  font-weight: 200;
}

.header div span {
  color: black !important;
}

.login {
  position: absolute;
  margin-left: 40%;
  margin-top: 120px;
  /* top: calc(50% - 75px);
  left: calc(50% - 50px); */
  height: 150px;
  width: 350px;
  padding: 10px;
}

.login input[type="text"] {
  width: 300px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(11, 11, 11, 0.6);
  border-radius: 2px;
  color: black;
  font-family: "Exo", sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding: 4px;
}

.login input[type="password"] {
  width: 300px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 2px;
  color: black;
  font-family: "Exo", sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding: 4px;
  margin-top: 10px;
}

.login input[type="button"] {
  width: 310px;
  height: 35px;
  background: whitesmoke;
  border: 1px solid #fff;
  cursor: pointer;
  border-radius: 2px;
  color: #a18d6c;
  font-family: "Exo", sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding: 6px;
  margin-top: 10px;
}

.login input[type="button"]:hover {
  opacity: 0.8;
}

.login input[type="button"]:active {
  opacity: 0.6;
}

.login input[type="text"]:focus {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.9);
}

.login input[type="password"]:focus {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.9);
  font-size: 20px;
}

.login input[type="button"]:focus {
  outline: none;
  font-size: 20px;
}

::-webkit-input-placeholder {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

::-moz-input-placeholder {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
}
